
.col-full
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
#DayOverviewDescription
{
  margin-bottom: 2em;
}
#DayOverviewDescriptionTitle, #ItineraryTitle
{
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.25em;
}
#DayOverviewSection
{
  padding: 2em 0;
  margin: 2em 0;
}
#DayOverviewTitle
{
  text-align: center;
  margin: 1em 0;
  font-weight: bold;
}
#HeroSection
{
  background-position: center!important;
  background-size: cover!important;
  padding: 20em 0;
}
#Itinerary
{
  margin: 0;
  padding: 0;
  padding-left: 3em;
}
#RiverLifeImage
{
  margin-bottom: 2em;
}
#RiverLifeDescription
{
  font-size: 0.90em;
}
#RiverLifeDescriptionTitle
{
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.25em;
}
#RiverLifeSection
{
  margin-bottom: 5em;
}
#RiverLifeTitle
{
  text-align: center;
  margin: 1em 0;
  font-weight: bold;
}
.testimonial
{
  display: flex;
  flex-direction: row;
  padding: 0 2em;
}
.testimonial-info
{
  margin-left: 0.5em;
}
.testimonial-location, .testimonial-reviewer
{
  font-style: italic;
}
#WhatToExpectTitle
{
  text-align: center;
  margin: 2em 0;
}
@media screen and (max-width: 992px)
{
  #DayOverviewDescriptionTitle, #DayOverviewDescription, #ItineraryTitle
  {
    text-align: center;
  }
  #OverviewDescriptionCol
  {
    order: 2;
  }
  #OverviewImageCol
  {
    margin-bottom: 2em;
    order: 1;
  }
  #RiverLife
  {
    text-align: center;
  }
}
