
.col-full
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
#HeroSection
{
  background-position: center!important;
  background-size: cover!important;
  padding: 20em 0;
}
#InstagramIcon
{
  height: 3em;
  width: 3em;
  display: block;
  margin: 1em auto;
}
#InstagramLink
{
  display: inline-block;
  margin-top: 2em;
}
#InstagramLink:hover
{
  text-decoration: none;
}
#InstagramLinkDiv
{
  text-align: center;
}
#InstagramLinkText
{
  padding: 0.25em 1em;
  border-radius: 50px;
}
.trip-photo
{
  width: 19vw;
  height: 19vw;
  display: inline-block;
}
.trip-photo img
{
  width: 19vw;
  height: 19vw;
  object-fit: cover;
  padding: 0.25em;
}
#TripPhotos
{
  text-align: center;
  margin: 5em auto;
}
#TripPhotosIntroduction
{
  text-align: center;
}
#TripPhotosTitle
{
  font-weight: 600;
  text-align: center;
  margin: 2em 0;
}
